<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Books Purchased</h4>
  </div>
  <div class="col-md-12">
    <div class="card px-5 my-3">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">My Books</h4>
          
        </div>
      </div>
    
<form>
        <div class="table-responsive">
          <% if (result != "") { %>
            <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Title</th>
                <th>Catalogue</th>
                <th>Author</th>
                <th>Price</th>
                <th>Date Purchased</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>

            <tbody>
              <% result.forEach((purchase, index) => {%>
                
              <tr>
                <td><%=++index%></td>
                <td><%=purchase.bookId.title%></td>
                <td><%=purchase.bookId.catalogue%></td>
                <td><%=purchase.bookId.author%></td>
                <td><%=purchase.price%></td>
                <td><%=purchase.createdAt%></td>
                  <td>
                  <div class="form-button-action">
                    <button
                      type="button"
                      data-toggle="tooltip"
                      title=""
                      class="btn btn-link btn-primary btn-sm"
                      data-original-title="View Book"
                    >
                    <a class="" href="/my-book/view/<%=purchase.bookId._id%>">
                      <i class="fa fa-eye text-success"></i>
                      </a>
                      </>
                    </button>
                  
                  </div>
                </td>
              </tr>
            
              <%})%>
            </tbody>
          </table>
          <% } else { %>
         <h1 class="text-warning ">No Book found</h1>
            <% } %> 
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
    <script>
      $(document).ready(function () {
        $("table").DataTable({
          order: [0, "desc"],
        });
      });
       const token = localStorage.getItem("userToken");
  alert(token);
        try {
      const res = await fetch("/book/my-books", {
        method: "POST",
        
        headers: { Authorization: token, "Content-type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data) alert(result);
    } catch (err) {
      console.log(err);
    }
    </script>


