<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title"></h4>
  </div>
  <% if (message) { %>
  <div class="alert alert-dismissible fade show" alert-<%="message.type" %>
    role="alert">
    <button
      type="button"
      class="btn-close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= message.message %> </strong>
  </div>
  <% } %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="row">
            <div class="col-lg-6 px-5 my-3">
              <div class="view-img">
                <img
                  src="/<%= result.dp %>"
                  class="img-fluid w-100 h-70"
                  alt="/book-img"
                  srcset=""
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="view-details my-3">
                <div class="row">
                  <h4 class="text-warning">
                    <span class="bold-text text-dark">Book Title:</span><%=
                    result.title %>
                  </h4>
                  <h5 class="text-dark">
                    <span class="bold-text text-dark">Book Price:</span><%=
                    result.price %>
                  </h5>
                </div>

                <p class="text-dark">
                  <span class="bold-text text-dark">Book description:</span><%=
                  result.description %>
                </p>
                <div class="row spacing-x-5">
                  <p class="tor text-warning">
                    <span class="bold-text text-dark">Book Author:</span> <%=
                    result.author %>
                  </p>
                  <p>
                    <span class="bold-text text-dark">Catalogue:</span><%=
                    result.catalogue%>
                  </p>
                </div>
                <p class="text-dark">
                  <span class="bold-text text-dark">ISBN NO:</span><%=
                  result.isbn %>
                </p>
                <a class="mx-3" href="/rent-open-pdf/<%= result._id %>">
                  <button class="btn btn-outline-primary w-50 offset-4 mx-1">
                    view Pdf
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
