<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="">
    <div class="humberger__menu__overlay"></div>
    <header><%- include('./partials/header'); %></header>

    <section class="hero"><%- include('./partials/hero'); %></section>
    <section class="featured spad">
      <%- include('./partials/product'); %>
    </section>
    <footer class="footer spad"><%- include('./partials/footer'); %></footer>
  </body>
</html>
