<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">All Users</h4>
  </div>
  <% if (message) { %>
  <div class="alert alert-dismissible fade show" alert-<%="message.type" %>
    role="alert">
    <button
      type="button"
      class="btn-close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%= message.message %> </strong>
  </div>
  <% } %>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">All Users</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <% if (user != "") { %>
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>

            <tbody>
              <% data.forEach((user, index) => {%>
              <tr>
                <td><%=++index%></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.phone%></td>
                <td>
                  <div class="form-button-action">
                    <button
                      type="button"
                      data-toggle="tooltip"
                      title=""
                      class="btn btn-link btn-danger"
                      data-original-title="Remove User"
                    >
                      <a href="/delete/<%= user._id %>">
                        <i class="fa fa-times text-danger"></i
                      ></a>
                    </button>
                  </div>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
          <% } else { %>
          <h1 class="text-warning">No User found</h1>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("table").DataTable({
      order: [0, "desc"],
    });
  });
</script>
