<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">All Books Rented</h4>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">All Books Rented</h4>
        </div>
      </div>
      <div class="card-body">
        <!-- Modal -->

        <div class="table-responsive">
          <% if (result != "") { %>
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Title</th>
                <th>Catalogue</th>
                <th>Author</th>
                <th>Price</th>
                <th>From</th>
                <th>To</th>
                <th>Rented By</th>
                <th>Date Rent</th>
              </tr>
            </thead>

            <tbody>
              <% result.forEach((pur, index) => {%>
              <tr>
                <td><%=++index %></td>
                <td><%=pur.bookId.title %></td>
                <td><%=pur.bookId.catalogue %></td>
                <td><%=pur.bookId.author %></td>
                <td><%=pur.price %></td>
                <td><%=pur.startDate %></td>
                <td><%=pur.endDate %></td>
                <td><%=pur.userId.name %></td>
                <td><%=pur.createdAt %></td>
              </tr>
              <%})%>
            </tbody>
          </table>
          <% } else { %>
          <h1 class="text-warning">No Rent found</h1>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("table").DataTable({
      order: [0, "desc"],
    });
  });
</script>
