<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">All Books Purchased</h4>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">All Books Purchased</h4>
        </div>
      </div>
      <div class="card-body">
        <!-- Modal -->

        <div class="table-responsive">
          <% if (result != "" && data !="" && user !="") { %>
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Title</th>
                <th>Catalogue</th>
                <th>Author</th>
                <th>Price</th>
                <th>Purchased By</th>
                <th>Date Purchase</th>
              </tr>
            </thead>

            <tbody>
              <% data.forEach((pur, index) => {%> <% result.forEach((book) =>
              {%> <% user.forEach((user) => {%>
              <tr>
                <td><%=++index %></td>
                <td><%=book.title %></td>
                <td><%=book.catalogue %></td>
                <td><%=book.author %></td>
                <td><%=pur.price %></td>
                <td><%=user.name %></td>
                <td><%=pur.createdAt %></td>
              </tr>
              <%})%> <%})%> <%})%>
            </tbody>
          </table>
          <% } else { %>
          <h1 class="text-warning">No Purchase found</h1>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("table").DataTable({
      order: [0, "desc"],
    });
  });
</script>
